.App {
  text-align: center;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5rem;
  color: #ccc;
}

/* Global style for disabled buttons */
button:disabled {
  background-color: #555;
  color: #aaa;
  cursor: not-allowed;
  border: 1px solid #777;
}

button:disabled:hover {
  background-color: #555; /* Keep the same background on hover */
}

