html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5rem;
}

.login-link a,
.register-link a {
  color: #61dafb;
  text-decoration: none;
}

.login-link a:hover,
.register-link a:hover {
  text-decoration: underline;
}

.register-link,
.login-link {
  text-align: center;
  margin-top: 1rem;
}
